.cp-container {
  text-align: center;
  padding: 9em;
}
.heading {
  color: rgb(10, 25, 95);
}
.color-pad {
  margin-top: 5em;
  margin-left: 11.75em;
  margin-bottom: 5em;
  height: 250px;
  width: 250px;
  text-align: center;
  border-radius:15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
