body{
  background-color:rgb(48, 49, 49);
}
.cp-container {
  text-align: center;
  display: grid;
  align-items:center;
  justify-content: center;
}
.heading {
  color: rgb(10, 25, 95);
  font-size: 3em;
  text-shadow: 0px 3px 25px white;
}
.color-pad {
  height: 250px;
  width: 250px;
  border:2px solid rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow:0px 5px 25px rgb(255, 255, 255);
  transition: .25s;
  display: flex;
  align-items:center;
  justify-content: center;
}
.selectedlabel
{
  font-size: larger;
  font-weight: bolder;
  color:rgb(1, 24, 81);
}
.selectlabel{
font-size: 1.5em;
}
.colorpicker{
  width: 9em;
  height: 41px;
  border-radius:15px;
  box-shadow:0px 5px 25px rgb(255, 255, 255);
  transition: 11s;
}
